#lite_home
  = title t('lite_home.actions.change_my_password')
  = display_flash  
  = display_breadcrumb
  .row
    .span12.white
      .span2.sidebar= render 'sidebar'
      .span9.user
        .well
          .name
            = @user.name
            = display_label(t('lite_home.common.admin_label'), 'label-important') if @user.admin?
          %hr
          = simple_form_for @user, url: profile_change_password_path, html: {class: 'form-horizontal'} do |f|
            = f.input :original_password
            = f.input :password
            = f.input :password_confirmation
            .form-actions= f.submit class: 'btn btn-primary'
