<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= t('lite_home.email.hello') %>, <%= @user.name %></h1>
    <p>
      <%= t('lite_home.email.msg01') %>
    </p>
    <p>
      <%= t('lite_home.email.msg02') %>: <%= @url %>.
    </p>
    <p><%= t('lite_home.email.msg03') %></p>
  </body>
</html>